{% extends "orders/layout.html" %}

{% block body %}
<div class="d-flex justify-content-center">
  <div class="container-channel custom-window">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h4 class="card-title">Customise your own {{ type }} pizza</h4>
        <form action="{% url 'addpizza' type=type %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="size">Select Size</label>
            <select class="form-control" id="size" name="size" required>
              <option value="s">Small (2-3pax)</option>
              <option value="l">Large (5-6pax)</option>
            </select>
          </div>
          <div class="form-group" id="toppingschosen">
            <label for="size">Select Toppings (Max. of 4)</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="pepperoni" value="pepperoni" name="choice[]">
                <label class="form-check-label" for="pepperoni">Pepperoni</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="sausages" value="sausages" name="choice[]">
                <label class="form-check-label" for="sausages">Sausages</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="mushrooms" value="mushrooms" name="choice[]">
                <label class="form-check-label" for="mushrooms">Mushrooms</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="onions" value="onions" name="choice[]">
                <label class="form-check-label" for="onions">Onions</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="ham" value="ham" name="choice[]">
                <label class="form-check-label" for="ham">Ham</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="bacon" value="canadianbacon" name="choice[]">
                <label class="form-check-label" for="bacon">Canadian Bacon</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="pineapple" value="pineapple" name="choice[]">
                <label class="form-check-label" for="pineapple">Pineapple</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="eggplant" value="eggplant" name="choice[]">
                <label class="form-check-label" for="eggplant">Eggplant</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="tomatobasil" value="tomatobasil" name="choice[]">
                <label class="form-check-label" for="tomatobasil">Tomato & Basil</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="hamburger" value="hamburger" name="choice[]">
                <label class="form-check-label" for="hamburger">Hamburger</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="spinach" value="spinach" name="choice[]">
                <label class="form-check-label" for="spinach">Spinach</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="artichoke" value="artichoke" name="choice[]">
                <label class="form-check-label" for="artichoke">Artichoke</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="buffalo" value="buffalochicken" name="choice[]">
                <label class="form-check-label" for="buffalo">Buffalo Chicken</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="bbqchicken" value="bbqchicken" name="choice[]">
                <label class="form-check-label" for="bbqchicken">BBQ Chicken</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="anchovies" value="anchovies" name="choice[]">
                <label class="form-check-label" for="anchovies">Anchovies</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="olives" value="blackolives" name="choice[]">
                <label class="form-check-label" for="olives">Black Olives</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="garlic" value="garlic" name="choice[]">
                <label class="form-check-label" for="garlic">Fresh Garlic</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="zucchini" value="zucchini" name="choice[]">
                <label class="form-check-label" for="zucchini">Zucchini</label>
            </div>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
              <select name="quantity" id="quantity" class="form-control">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
              </select>
          </div>
          <p id="price" name="price">Price: $0.00</p>
          <button class="btn-save btn btn-primary btn-sm" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

    function addEventListenerList(list, event, fn) {
      for (var i = 0, len = list.length; i < len; i++) {
        list[i].addEventListener(event, fn, false);
      }
    }

    function countCheckboxes(list) {
      var count = 0;
      for (var i = 0, len = list.length; i < len; i++) {
        if (list[i].checked == true) {
          count++;
        }
      }
      return count;
    }

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('.form-control').addEventListener('change', toppingchosen());
      document.querySelector('.form-control').addEventListener('change', (e)=>toppingchosen());
      var checkboxes = document.getElementsByClassName('form-check-input');
      addEventListenerList(checkboxes, 'change', toppingchosen);
      var checkboxes = document.getElementsByClassName('form-check-input');
      var num = countCheckboxes(checkboxes);
      if (num > 0) {
        toppingchosen();
      }
  });

  function toppingchosen() {
    var checkboxes = document.getElementsByClassName('form-check-input');
    var topping_num = countCheckboxes(checkboxes);
    //var topping_num = document.querySelectorAll('input[type="checkbox"]:checked').length;
    var size = document.querySelector('.form-control').value;
    if (size == '') {
      alert('Choose the pizza size.');
    } else {
      if (topping_num > 4) {
        alert('Choose only 0 to 4 pizza toppings.');
      }
    }

    const request = new XMLHttpRequest();
    request.open('POST', '/getprice');
    // Callback function for when request completes
    request.onload = () => {
      // Extract JSON data from request
      const data = request.responseText;

      // Update the result div
      removedfirst = data.substring(11);
      removedlast = removedfirst.substring(0, removedfirst.length-2);
      price = (parseFloat(removedlast) * parseFloat(document.querySelector('#quantity').value)).toFixed(2);
      const contents = `Price: $${price}`
      document.querySelector('#price').innerHTML = contents;
    }

    const data = new FormData();
    var pizza_type = '{{ type }}'

    data.append('topping_num', topping_num);
    data.append('type', pizza_type);
    data.append('size', size);
    const header =  "X-CSRFToken";
    const token = getCookie('csrftoken'); //Using the js-cookies library
    request.setRequestHeader(header, token);
    // Send request
    request.send(data);
    topping_num = 0;
  }


</script>
{% endblock %}
