{% extends "orders/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'orders/account.css' %}"/>
{% endblock %}


{% block body %}
<body">
  <div style="height:80px"></div>
  <div class="container">
    {% if message %}
    <div class="alert alert-warning alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
         {{ message }}
    </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Order</h5>
            <ul>
            {% if pizzas %}
              <li><h5 class="font-weight-light">Pizza</h5></li>
              <ol class="font-weight-light">
              {% for pizza in pizzas %}
                <li class="font-weight-light">
                  <h6 class="font-weight-light">{{ pizza.pizza_type.type }} pizza ({{pizza.pizza_type.topping_num}} toppings):</h6>
                  <h6 class="font-weight-light">${{ pizza.pizza_type.price }}</h6>
                  {% if pizza.toppings %}
                  <ol>
                    {% for topping in pizza.toppings.all %}
                      <li>{{ topping.topping }}</li>
                    {% endfor %}
                  </ol>
                  {% endif %}
                  <a style="font-size: 0.85em" class="font-weight-light" href="{% url 'removePizza' pizza.id %}">Remove from cart</a></span>
                </li>
                {% endfor %}
              </ol>
            {% endif %}
            {% if steaks %}
              <li><h5 class="font-weight-light">Steak</h5></li>
              <ol class="font-weight-light">
              {% for steak in steaks %}
                <li class="font-weight-light">
                  <h6 class="font-weight-light">steak with {{ steak.steak_type.side_num}} side(s):</h6>
                  <h6 class="font-weight-light">${{ steak.steak_type.price }}</h6>
                  {% if steak.sides %}
                  <ol>
                    {% for side in steak.sides.all %}
                      <li>{{ side.side }}</li>
                    {% endfor %}
                  </ol>
                  {% endif %}
                  <a style="font-size: 0.85em" class="font-weight-light" href="{% url 'removeSteak' steak.id %}">Remove from cart</a></span>
                </li>
                {% endfor %}
              </ol>
            {% endif %}
          </ul>
           <hr class="my-4">
           <h5 class="font-weight-light" value="{{ total }}" id="total">Total: ${{ total }}</h5>
           <div style="height:10px"></div>
           <form class="form-signin" action="{% url 'submitorder' %}" method="post">
             {% csrf_token %}
             <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit" id="submit">Submit Order</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var total = {{ total }}
    document.addEventListener('DOMContentLoaded', function() {
      if (total == 0) {
        document.getElementById('submit').disabled = true;
      }
    });
  </script>
</body>
{% endblock %}
