{% extends "orders/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'orders/account.css' %}"/>
{% endblock %}


{% block body %}
<body">
  <div style="height:80px"></div>
  <div class="container" style="text-align: center">
        <div class="card card-signin border-0 shadow my-5" style="display: inline-block; width: 900px;">
          <div class="card-body">
            <h5 class="card-title text-center">Location & Contact</h5>
            <p class="card-text">Location: Blk 630 Bedok Reservoir Road Wet Market Food Centre</p>
            <div style="height:20px"></div>
            <iframe width="650" height="450" frameborder="0" style="border:80" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=1.3329%2C103.9140&key=AIzaSyDsUDdmKxRVSLTR88pHaPZvtRwZQF56GWI" allowfullscreen></iframe>
            <div style="height:40px"></div>
            <p class="card-text">Contact Number:+65 61234567</p>
            </div>
          </div>
      </div>
</body>
{% endblock %}
